.contact{
  color: #FCE5AC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1E1D1A;
  position: relative;

  .button{
    border-radius: 3em;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 60px 15px 60px;

    p{
      position: relative;
      z-index: 1;
      transition: color 0.4s linear;
    }

  }
  .body{
    padding-top: 200px;
    width: 100%;
    max-width: 1800px;
    background-color: #1E1D1A;

    .title{
      position: relative;
      margin-left: 5vw;
      margin-right: 5vw;

      @media (min-width: 1024px) {
        padding-bottom: 100px;
        margin-left: 200px;
        margin-right: 200px;
        border-bottom: 1px solid #595344;
      }

      span{
        display: flex;
        align-items: center;

        .imageContainer{
          width: 65px;
          height: 65px;
          position: relative;
          border-radius: 50%;
          overflow: hidden;

          @media (min-width: 768px) {
            width: 100px;
            height: 100px;
          }

          img{
            object-fit: cover;
          }
        }
        h2{
          margin-left: 0.3em;
        }
      }
      h2{
        margin: 0px;
        font-size: 3.5rem;

        @media (min-width: 768px) {
          font-size: 5rem;
        }

        @media (min-width: 1024px) {
          font-size: 7vw;
          line-height: 9rem;
        }
      }
      .buttonContainer{
        display: none;

        @media (min-width: 1024px) {
          display: block;
          position: absolute;
          left: calc(100% - 400px);
          top: calc(100% - 75px);
        }

        .button{
          width: 180px;
          height: 180px;
          background-color: #595344;
          color: #FCE5AC;
          border-radius: 50%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 0px;
          p{
            margin: 0px;
            font-size: 16px;
            z-index: 2;
            position: relative;
          }
        }
      }

      svg{
        position: absolute;
        top: 30%;
        left: 100%;
      }
    }
    .nav{
      display: flex;
      margin-top: 2rem;
      flex-direction: column;
      gap: 20px;
      margin-left: 5vw;
      margin-right: 5vw;

      @media (min-width: 768px) {
        margin-top: 4rem;
      }

      @media (min-width: 1024px) {
        flex-direction: row;
        margin-top: 100px;
        margin-left: 200px;
        margin-right: 200px;
      }
    }
    .info{
      display: flex;
      flex-direction: column;
      margin-top: 6rem;
      padding: 20px;

      @media (min-width: 1024px) {
        margin-top: 200px;
        flex-direction: row;
        justify-content: space-between;
      }

      div{
        display: flex;
        gap: 10px;
        align-items: flex-end;
        justify-content: space-between;

        &:nth-child(1) {
          border-bottom: 1px solid #A99A75;
          padding-bottom: 1rem;
          margin-bottom: 1rem;

          @media (min-width: 1024px) {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }



        p, h3{
          margin: 0px;
          padding: 2.5px;
          cursor: pointer;
        }
        p{
          &::after{
            content: "";
            width: 0%;
            height: 1px;
            background-color: #E5CA85;
            display: block;
            margin-top: 2px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.2s linear;
          }
          &:hover{
            &::after{
              width: 100%;
            }
          }
        }
        span{
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
        h3{
          color: #A99A75;
          cursor: default;
          font-size: 1em;
        }
      }
    }
  }
}