.globe {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
  will-change: transform;
  border: 1px solid #595344;
}

@keyframes globe {
  0%   {transform: translate(-50%, -50%) rotate(15deg); }
  50%   {transform: translate(-50%, -50%) rotate(-15deg);}
  100% {transform: translate(-50%, -50%) rotate(15deg);}
}

.globeWrap {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  animation: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px .125em rgba(169, 154, 117, 0.3);
  border: 2px solid #595344;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: inset .1em 0px 0px .08em rgba(169, 154, 117, 0.3);
    animation: circle1 2.7s linear infinite;
    font-size: .75em;
    border: 2px solid #595344;
}

@keyframes circle1 {
    0%   {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em rgba(169, 154, 117, 0.3); width: 100%; }
    49%  {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em rgba(169, 154, 117, 0.3); background: transparent;}
    50%  {border-radius: 0%; width: .175em; background: rgba(169, 154, 117, 0.3);}
    51%  {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em rgba(169, 154, 117, 0.3); background: transparent;}
    100% {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em rgba(169, 154, 117, 0.3); width: 100%;}
}

.globe :nth-child(1) {
    animation-delay: -1.8s;
}

.globe :nth-child(2) {
    animation-delay: -.9s;
}


.circleHor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 55%;
    box-shadow: inset 0px 0px 0px .15em rgba(169, 154, 117, 0.3);
    font-size: .75em;
    border: 2px solid #595344;
}

.circleHorMiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    border-radius: 0%;
    height: .15em;
    //background: rgba(169, 154, 117, 0.3);
    font-size: .75em;
    border: 1px solid #595344;
}

